.why{
    position: relative;
    min-height: 56rem;
    overflow: hidden;
    .wrapper{
        @media (max-width: 575.98px) {
            width: 100%;
        }
    }
    .greenBg{
        padding: 2rem 0;
        background-color: #0B2A2E;
        @media (min-width: 1600px) {
            padding: 5rem 0;
        }
    }
    &__upper{
        position: relative;
        @include flexCenter;
        align-items: flex-end;
        padding: 10rem 0 4rem 0;
        @media (max-width: 575.98px) {
            width: 90%;
            margin: 0 auto;
            flex-direction: column;
            align-items: flex-start;
            padding: 5rem 0 0 0;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            flex-direction: column;
            align-items: flex-start;
            padding: 7rem 0 4rem 0;
        }
        @media (min-width: 992px) and (max-width: 1299.98px) {
            padding: 8rem 0 4rem 0;
        }
        h2{
            text-transform: uppercase;
            font-size: 8rem;
            color: $white;
            text-align: right;
            line-height: 8rem;
            @media (max-width: 575.98px) {
                font-size: 2.5rem;
                padding-bottom: 2.5rem;
                line-height: 3rem;
            }
            @media (max-width: 320px) {
                font-size: 2.25rem;
            }
            @media (min-width: 321px) and (max-width: 376px) {
                font-size: 2.25rem;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                font-size: 6rem;
                line-height: 6rem;
            }
            span{
                display: block;
                color: $green;
            }
            &::after{
                content: '';
                position: absolute;
                top: 15rem;
                left: -3rem;
                width: 20rem;
                height: 12rem;
                background-image: url('../Image/bits.png');
                @include bgCover;
                z-index: -1;
                @media (max-width: 575.98px) {
                    top: 5.5rem;
                    left: auto;
                    right: -2rem;
                    width: 12rem;
                    height: 6rem;
                }
                @media (max-width: 320px) {
                    width: 12rem;
                }
                @media (min-width: 321px) and (max-width: 376px) {
                    width: 12rem;
                }
                @media (min-width: 576px) and (max-width: 991.98px) {
                    top: 11rem;
                    width: 16rem;
                    height: 9rem;
                }
                @media (min-width: 992px) and (max-width: 1299.98px) {
                    top: 13rem;
                }
            }
        }
        &__right{
            width: 20rem;
            @media (max-width: 575.98px) {
                width: 100%;
            }
            p{
                font-size: 1rem;
                font-family: $ff2;
                color: $lagoon;
            }
        }
    }
    &__below{
        @include flexBetween;
        align-items: flex-start;
        @media (max-width: 575.98px) {
            width: 90%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            flex-direction: column;
        }
        &__left{
            width: 68%;
            padding-left: 17rem;
            @media (max-width: 575.98px) {
                width: 100%;
                padding-left: 0;
                padding-bottom: 2rem;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                width: 100%;
                padding-left: 12.5rem;
            }
            p{
                font-size: 1rem;
                font-family: $ff2;
                color: $lagoon;
                line-height: 1.5rem;
            }
        }
        &__right{
            width: 23rem;
            @media (max-width: 575.98px) {
                width: 100%;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                width: 100%;
                padding-left: 12.5rem;
                padding-top: 1.75rem;
            }
            p{
                font-size: 1rem;
                font-family: $ff2;
                color: $lagoon;
                line-height: 1.5rem;
            }
        }
    }
}