@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
:root {
  --white: #FFFFFF;
  --lagoon: rgba(255,255,255,0.9);
  --green: #58C52A;
  --black: #111111;
}

.loader {
  background: var(--black);
  padding: 1.75rem 0;
  opacity: 0.75;
}

.pulse {
  border-bottom: 1px solid var(--green);
  -webkit-animation: borderPulse 1000ms infinite ease-out;
          animation: borderPulse 1000ms infinite ease-out;
}

@-webkit-keyframes borderPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes borderPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.5rem 0;
}

.header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav a {
  font-size: 1.5rem;
  color: var(--white);
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul li {
  margin-right: 10rem;
  position: relative;
}

@media (max-width: 575.98px) {
  .header__nav ul li {
    margin-right: 3rem;
  }
}

.header__nav ul li a {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--white);
}

.header__nav ul li a img {
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.5rem;
}

.header__nav ul li::after {
  content: '';
  position: absolute;
  bottom: -0.35rem;
  left: 0;
  width: 100%;
  height: 0.05rem;
  background: var(--white);
}

.header__nav ul li:last-child {
  margin-right: 0;
}

.fixed-header {
  position: absolute;
}

.hero {
  background-image: url(../Image/background_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 56rem;
}

@media (max-width: 575.98px) {
  .hero .wrapper {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .hero {
    min-height: auto;
    padding-bottom: 6rem;
    background-image: none;
    background-color: #0A2D31;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero {
    background-image: url(../Image/background_img_sm.png);
  }
}

.hero__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12rem 0;
}

@media (max-width: 575.98px) {
  .hero__upper {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 8rem 0 0 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 7rem 0 10rem 0;
  }
}

@media (min-width: 1700px) {
  .hero__upper {
    padding: 11rem 0;
  }
}

.hero__upper__left {
  width: 40rem;
}

@media (max-width: 575.98px) {
  .hero__upper__left {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .hero__upper__left {
    width: 48rem;
  }
}

.hero__upper__left h1 {
  font-size: 8.25rem;
  color: var(--green);
  line-height: 8rem;
}

@media (max-width: 575.98px) {
  .hero__upper__left h1 {
    font-size: 5.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__upper__left h1 {
    font-size: 7rem;
  }
}

@media (min-width: 1700px) {
  .hero__upper__left h1 {
    font-size: 10rem;
    line-height: 9rem;
  }
}

@media (max-width: 320px) {
  .hero__upper__left h1 {
    font-size: 5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero__upper__left h1 {
    font-size: 5rem;
  }
}

.hero__upper__left h1 span {
  font-family: "PT Mono", monospace;
}

.hero__upper__left h2 {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--white);
}

@media (max-width: 575.98px) {
  .hero__upper__left h2 {
    font-size: 2.5rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 320px) {
  .hero__upper__left h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero__upper__left h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__upper__left h2 {
    padding-bottom: 3rem;
    font-size: 3.25rem;
  }
}

@media (min-width: 1700px) {
  .hero__upper__left h2 {
    font-size: 4.85rem;
  }
}

.hero__upper__left h2 span {
  text-align: right;
  display: block;
  padding-right: 2rem;
}

@media (max-width: 575.98px) {
  .hero__upper__left h2 span {
    text-align: left;
    padding-right: 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__upper__left h2 span {
    text-align: left;
    padding-right: 0;
  }
}

.hero__upper__right {
  width: 20rem;
}

@media (max-width: 575.98px) {
  .hero__upper__right {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .hero__upper__right {
    width: 25rem;
  }
}

.hero__upper__right p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
}

@media (min-width: 1700px) {
  .hero__upper__right p {
    font-size: 1.25rem;
  }
}

.hero__upper__right h4 {
  font-size: 1rem;
  color: var(--lagoon);
  padding-left: 7rem;
  line-height: 1.75rem;
}

@media (max-width: 575.98px) {
  .hero__upper__right h4 {
    padding-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__upper__right h4 {
    padding-left: 0;
  }
}

.hero__middle {
  display: none;
}

@media (max-width: 575.98px) {
  .hero__middle {
    display: block;
  }
  .hero__middle img {
    width: 100%;
  }
}

.hero__below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 575.98px) {
  .hero__below {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__below__left {
  width: 40rem;
}

@media (max-width: 575.98px) {
  .hero__below__left {
    width: 100%;
    padding-bottom: 3rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__below__left {
    width: 32rem;
  }
}

@media (min-width: 1700px) {
  .hero__below__left {
    width: 48rem;
  }
}

.hero__below__left h4 {
  font-size: 1rem;
  color: var(--lagoon);
  padding-left: 15rem;
  line-height: 1.75rem;
}

@media (max-width: 575.98px) {
  .hero__below__left h4 {
    padding-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__below__left h4 {
    padding-left: 0;
  }
}

@media (min-width: 1700px) {
  .hero__below__left h4 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.hero__below__left p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
}

.hero__below__right {
  width: 20rem;
}

@media (max-width: 575.98px) {
  .hero__below__right {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero__below__right {
    width: auto;
  }
}

@media (min-width: 1700px) {
  .hero__below__right {
    width: 25rem;
  }
}

.hero__below__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__below__right ul li {
  position: relative;
}

@media (max-width: 575.98px) {
  .hero__below__right ul li {
    margin-right: 3rem;
  }
}

.hero__below__right ul li a {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--white);
}

.hero__below__right ul li a img {
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero__below__right ul li::after {
  content: '';
  position: absolute;
  bottom: -0.35rem;
  left: 0;
  width: 100%;
  height: 0.05rem;
  background: var(--white);
}

.footer {
  border-top: 1px solid var(--white);
  padding: 4rem 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 575.98px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__content__upper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer__content__upper h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.5rem;
}

.footer__content__upper h4 span {
  text-transform: lowercase;
  font-family: "PT Mono", monospace;
}

.footer__content__upper p {
  font-size: 0.85rem;
  line-height: 1.45rem;
  color: var(--lagoon);
  margin: 1.25rem 0;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .footer__content__upper p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.footer__content__middle {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

@media (max-width: 575.98px) {
  .footer__content__middle {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer__content__middle p {
  font-size: 0.85rem;
  line-height: 1.45rem;
  color: var(--lagoon);
  margin-bottom: 1.25rem;
}

.footer__content ul {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  text-align: right;
}

@media (max-width: 575.98px) {
  .footer__content ul {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 1.5rem 0;
  }
}

@media (max-width: 575.98px) {
  .footer__content ul li {
    margin: 1rem 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .footer__content ul li {
    margin-bottom: 1rem;
  }
}

.footer__content ul li a {
  color: var(--lagoon);
  font-size: 0.85rem;
  line-height: 1.45rem;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .footer__content ul li a {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.why {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
}

@media (min-width: 1700px) {
  .why {
    padding-bottom: 7rem;
  }
}

@media (max-width: 575.98px) {
  .why .wrapper {
    width: 100%;
  }
}

.why .greenBg {
  padding: 2rem 0;
  background-color: #0B2A2E;
}

@media (min-width: 1600px) {
  .why .greenBg {
    padding: 5rem 0;
  }
}

.why__upper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10rem 0 4rem 0;
}

@media (max-width: 575.98px) {
  .why__upper {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5rem 0 0 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .why__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 7rem 0 4rem 0;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .why__upper {
    padding: 8rem 0 4rem 0;
  }
}

.why__upper h2 {
  text-transform: uppercase;
  font-size: 8rem;
  color: var(--white);
  text-align: right;
  line-height: 8rem;
}

@media (max-width: 575.98px) {
  .why__upper h2 {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 320px) {
  .why__upper h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .why__upper h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .why__upper h2 {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (min-width: 1700px) {
  .why__upper h2 {
    font-size: 10rem;
    line-height: 9rem;
  }
}

.why__upper h2 span {
  display: block;
  color: var(--green);
}

.why__upper h2::after {
  content: '';
  position: absolute;
  top: 15rem;
  left: -3rem;
  width: 20rem;
  height: 12rem;
  background-image: url("../Image/bits.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 575.98px) {
  .why__upper h2::after {
    top: 5.5rem;
    left: auto;
    right: -2rem;
    width: 12rem;
    height: 6rem;
  }
}

@media (max-width: 320px) {
  .why__upper h2::after {
    width: 12rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .why__upper h2::after {
    width: 12rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .why__upper h2::after {
    top: 11rem;
    width: 16rem;
    height: 9rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .why__upper h2::after {
    top: 13rem;
  }
}

@media (min-width: 1700px) {
  .why__upper h2::after {
    top: 16rem;
    left: -3rem;
    width: 25rem;
    height: 13rem;
  }
}

.why__upper__right {
  width: 20rem;
}

@media (max-width: 575.98px) {
  .why__upper__right {
    width: 100%;
  }
}

.why__upper__right p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
}

.why__below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 575.98px) {
  .why__below {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .why__below {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why__below__left {
  width: 68%;
  padding-left: 17rem;
}

@media (max-width: 575.98px) {
  .why__below__left {
    width: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .why__below__left {
    width: 100%;
    padding-left: 12.5rem;
  }
}

.why__below__left p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
  line-height: 1.5rem;
}

@media (min-width: 1700px) {
  .why__below__left p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.why__below__right {
  width: 23rem;
}

@media (max-width: 575.98px) {
  .why__below__right {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .why__below__right {
    width: 100%;
    padding-left: 12.5rem;
    padding-top: 1.75rem;
  }
}

@media (min-width: 1700px) {
  .why__below__right {
    width: 28rem;
  }
}

.why__below__right p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
  line-height: 1.5rem;
}

@media (min-width: 1700px) {
  .why__below__right p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.pieces {
  position: relative;
  padding-bottom: 3rem;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .pieces .wrapper {
    width: 100%;
  }
}

.pieces__upper__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 7rem 0 0 0;
}

@media (max-width: 575.98px) {
  .pieces__upper__title {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4rem 0 0 0;
  }
}

.pieces__upper__title h2 {
  text-transform: uppercase;
  font-size: 8rem;
  color: var(--green);
  line-height: 8rem;
}

@media (max-width: 575.98px) {
  .pieces__upper__title h2 {
    font-size: 2.75rem;
    line-height: 3rem;
  }
}

@media (max-width: 320px) {
  .pieces__upper__title h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .pieces__upper__title h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .pieces__upper__title h2 {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .pieces__upper__title h2 {
    font-size: 8rem;
  }
}

@media (min-width: 1700px) {
  .pieces__upper__title h2 {
    font-size: 10rem;
    line-height: 9rem;
  }
}

.pieces__upper__title h2 span {
  text-transform: lowercase;
  font-family: "PT Mono", monospace;
}

.pieces__upper__subtitle {
  padding-left: 17rem;
}

@media (max-width: 575.98px) {
  .pieces__upper__subtitle {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .pieces__upper__subtitle {
    padding-left: 12.5rem;
  }
}

.pieces__upper__subtitle h3 {
  text-transform: uppercase;
  font-size: 8rem;
  color: var(--white);
  line-height: 8rem;
  padding-bottom: 4rem;
}

@media (max-width: 575.98px) {
  .pieces__upper__subtitle h3 {
    font-size: 2.75rem;
    padding-bottom: 2.5rem;
    line-height: 3rem;
    padding-left: 5rem;
  }
}

@media (max-width: 320px) {
  .pieces__upper__subtitle h3 {
    font-size: 2.25rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .pieces__upper__subtitle h3 {
    font-size: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .pieces__upper__subtitle h3 {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .pieces__upper__subtitle h3 {
    font-size: 8rem;
  }
}

@media (min-width: 1700px) {
  .pieces__upper__subtitle h3 {
    font-size: 10rem;
    line-height: 9rem;
  }
}

@media (max-width: 575.98px) {
  .pieces__upper__subtitle__tag {
    padding-left: 0;
    padding-bottom: 2rem;
  }
}

.pieces__upper__subtitle__tag p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
  line-height: 2rem;
}

@media (max-width: 575.98px) {
  .pieces__upper__subtitle__tag p {
    line-height: 1.75rem;
  }
}

@media (min-width: 1700px) {
  .pieces__upper__subtitle__tag p {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}

.pieces__upper__subtitle__tag p span {
  color: var(--green);
}

.pieces__cards {
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 575.98px) {
  .pieces__cards {
    padding: 2rem 0;
  }
}

.pieces__cards__single {
  width: 19rem;
  margin-bottom: 3rem;
}

@media (min-width: 1700px) {
  .pieces__cards__single {
    width: 25rem;
  }
}

@media (max-width: 575.98px) {
  .pieces__cards__single {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .pieces__cards__single {
    width: 13.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .pieces__cards__single {
    width: 19rem;
  }
}

.pieces__cards__single span {
  font-family: "PT Mono", monospace;
  font-size: 1.25rem;
  color: var(--green);
}

@media (min-width: 1700px) {
  .pieces__cards__single span {
    font-size: 1.5rem;
  }
}

.pieces__cards__single .heartbit {
  display: block;
  width: 100%;
  height: auto;
  margin: 0.75rem 0;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .pieces__cards__single .heartbit {
    width: 100%;
  }
}

.pieces__cards__single ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pieces__cards__single ul li {
  position: relative;
}

.pieces__cards__single ul li p {
  font-size: 1rem;
}

@media (min-width: 1700px) {
  .pieces__cards__single ul li p {
    font-size: 1.25rem;
  }
}

.pieces__cards__single ul li a {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--white);
}

@media (min-width: 1700px) {
  .pieces__cards__single ul li a {
    font-size: 1rem;
  }
}

.pieces__cards__single ul li a img {
  width: 0.65rem;
  height: 0.65rem;
  margin-left: 0.5rem;
}

.pieces__cards__single ul li h6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--white);
}

.pieces__cards__single ul li::after {
  content: '';
  position: absolute;
  bottom: -0.35rem;
  left: 0;
  width: 100%;
  height: 0.045rem;
  background: var(--white);
}

.pieces__cards__single ul li:first-child::after {
  display: none;
}

.pieces__cards__single ul .reserved h6 {
  color: var(--lagoon);
  opacity: 0.75;
}

.pieces__cards__single ul .reserved::after {
  background: var(--lagoon);
  opacity: 0.75;
}

.about {
  background-image: url(../Image/background_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 42.625rem;
}

@media (max-width: 575.98px) {
  .about .wrapper {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .about {
    min-height: auto;
    padding-bottom: 6rem;
    background-image: none;
    background-color: #0A2D31;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about {
    background-image: url(../Image/background_img_sm.png);
  }
}

.about__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 42.625rem;
  padding-top: 15rem;
}

@media (max-width: 575.98px) {
  .about__upper {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 8rem 0 0 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 7rem 0 10rem 0;
  }
}

@media (min-width: 1700px) {
  .about__upper {
    padding: 11rem 0;
  }
}

.about__upper__left {
  width: 40rem;
}

@media (max-width: 575.98px) {
  .about__upper__left {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .about__upper__left {
    width: 48rem;
  }
}

.about__upper__left h2 {
  text-transform: uppercase;
  font-size: 4.6875rem;
  color: var(--white);
  padding-bottom: 3rem;
}

@media (max-width: 575.98px) {
  .about__upper__left h2 {
    font-size: 2.5rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 320px) {
  .about__upper__left h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .about__upper__left h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__upper__left h2 {
    padding-bottom: 3rem;
    font-size: 3.25rem;
  }
}

@media (min-width: 1700px) {
  .about__upper__left h2 {
    font-size: 4.85rem;
  }
}

.about__upper__left h1 {
  font-size: 8.25rem;
  color: var(--green);
  line-height: 8rem;
}

@media (max-width: 575.98px) {
  .about__upper__left h1 {
    font-size: 5.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__upper__left h1 {
    font-size: 7rem;
  }
}

@media (min-width: 1700px) {
  .about__upper__left h1 {
    font-size: 10rem;
    line-height: 9rem;
  }
}

@media (max-width: 320px) {
  .about__upper__left h1 {
    font-size: 5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .about__upper__left h1 {
    font-size: 5rem;
  }
}

.about__upper__left h1 span {
  font-family: "PT Mono", monospace;
}

.about__upper__right {
  width: 20rem;
}

@media (max-width: 575.98px) {
  .about__upper__right {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .about__upper__right {
    width: 25rem;
  }
}

.about__upper__right p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
}

@media (min-width: 1700px) {
  .about__upper__right p {
    font-size: 1.25rem;
  }
}

.about__upper__right h4 {
  font-size: 1rem;
  color: var(--lagoon);
  padding-left: 7rem;
  line-height: 1.75rem;
}

@media (max-width: 575.98px) {
  .about__upper__right h4 {
    padding-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__upper__right h4 {
    padding-left: 0;
  }
}

.about__middle {
  display: none;
}

@media (max-width: 575.98px) {
  .about__middle {
    display: block;
  }
  .about__middle img {
    width: 100%;
  }
}

.about__below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 575.98px) {
  .about__below {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__below__left {
  width: 40rem;
}

@media (max-width: 575.98px) {
  .about__below__left {
    width: 100%;
    padding-bottom: 3rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__below__left {
    width: 32rem;
  }
}

@media (min-width: 1700px) {
  .about__below__left {
    width: 48rem;
  }
}

.about__below__left h4 {
  font-size: 1rem;
  color: var(--lagoon);
  padding-left: 15rem;
  line-height: 1.75rem;
}

@media (max-width: 575.98px) {
  .about__below__left h4 {
    padding-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__below__left h4 {
    padding-left: 0;
  }
}

@media (min-width: 1700px) {
  .about__below__left h4 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.about__below__left p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
}

.about__below__right {
  width: 20rem;
}

@media (max-width: 575.98px) {
  .about__below__right {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about__below__right {
    width: auto;
  }
}

@media (min-width: 1700px) {
  .about__below__right {
    width: 25rem;
  }
}

.about__below__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__below__right ul li {
  position: relative;
}

@media (max-width: 575.98px) {
  .about__below__right ul li {
    margin-right: 3rem;
  }
}

.about__below__right ul li a {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--white);
}

.about__below__right ul li a img {
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about__below__right ul li::after {
  content: '';
  position: absolute;
  bottom: -0.35rem;
  left: 0;
  width: 100%;
  height: 0.05rem;
  background: var(--white);
}

.auctor {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
}

@media (min-width: 1700px) {
  .auctor {
    padding-bottom: 7rem;
  }
}

@media (max-width: 575.98px) {
  .auctor .wrapper {
    width: 100%;
  }
}

.auctor .greenBg {
  padding: 2rem 0;
  background-color: #0B2A2E;
}

@media (min-width: 1600px) {
  .auctor .greenBg {
    padding: 5rem 0;
  }
}

.auctor__upper {
  position: relative;
  padding: 9rem 0 0 0;
}

@media (max-width: 575.98px) {
  .auctor__upper {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5rem 0 0 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .auctor__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 7rem 0 4rem 0;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .auctor__upper {
    padding: 8rem 0 4rem 0;
  }
}

.auctor__upper h2 {
  text-transform: uppercase;
  font-size: 4.6875rem;
  color: var(--white);
  line-height: 5rem;
}

@media (max-width: 575.98px) {
  .auctor__upper h2 {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 320px) {
  .auctor__upper h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .auctor__upper h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .auctor__upper h2 {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (min-width: 1700px) {
  .auctor__upper h2 {
    font-size: 10rem;
    line-height: 9rem;
  }
}

.auctor__upper h2 span {
  padding-left: 17rem;
  display: block;
  color: var(--green);
}

.auctor__upper h2::after {
  content: '';
  position: absolute;
  top: 9rem;
  left: -2.5rem;
  width: 20rem;
  height: 12rem;
  background-image: url("../Image/bits.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 575.98px) {
  .auctor__upper h2::after {
    top: 5.5rem;
    left: auto;
    right: -2rem;
    width: 12rem;
    height: 6rem;
  }
}

@media (max-width: 320px) {
  .auctor__upper h2::after {
    width: 12rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .auctor__upper h2::after {
    width: 12rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .auctor__upper h2::after {
    top: 11rem;
    width: 16rem;
    height: 9rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .auctor__upper h2::after {
    top: 13rem;
  }
}

@media (min-width: 1700px) {
  .auctor__upper h2::after {
    top: 16rem;
    left: -3rem;
    width: 25rem;
    height: 13rem;
  }
}

.auctor__upper__top {
  padding-left: 17rem;
}

.auctor__upper__top h3 {
  text-transform: uppercase;
  font-size: 4.6875rem;
  line-height: 5rem;
  color: var(--green);
}

@media (max-width: 575.98px) {
  .auctor__upper__top h3 {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 320px) {
  .auctor__upper__top h3 {
    font-size: 2.25rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .auctor__upper__top h3 {
    font-size: 2.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .auctor__upper__top h3 {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (min-width: 1700px) {
  .auctor__upper__top h3 {
    font-size: 10rem;
    line-height: 9rem;
  }
}

.auctor__upper__top p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
  padding: 3rem 0;
}

.auctor__upper__right {
  width: 20rem;
}

@media (max-width: 575.98px) {
  .auctor__upper__right {
    width: 100%;
  }
}

.auctor__upper__right p {
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
}

.auctor__below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 575.98px) {
  .auctor__below {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .auctor__below {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.auctor__below__left {
  width: 68%;
  padding-left: 17rem;
}

@media (max-width: 575.98px) {
  .auctor__below__left {
    width: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .auctor__below__left {
    width: 100%;
    padding-left: 12.5rem;
  }
}

.auctor__below__left p {
  padding-top: 1.25rem;
  border-top: 1px solid var(--white);
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
  line-height: 1.5rem;
}

@media (min-width: 1700px) {
  .auctor__below__left p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.auctor__below__right {
  width: 23rem;
}

@media (max-width: 575.98px) {
  .auctor__below__right {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .auctor__below__right {
    width: 100%;
    padding-left: 12.5rem;
    padding-top: 1.75rem;
  }
}

@media (min-width: 1700px) {
  .auctor__below__right {
    width: 28rem;
  }
}

.auctor__below__right p {
  padding-top: 1.25rem;
  border-top: 1px solid var(--white);
  font-size: 1rem;
  font-family: "PT Mono", monospace;
  color: var(--lagoon);
  line-height: 1.5rem;
}

@media (min-width: 1700px) {
  .auctor__below__right p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.notFound {
  background: var(--black);
  color: var(--white);
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notFound__content h2 {
  display: inline-block;
  border-right: 1px solid var(--white);
  margin: 0;
  margin-right: 1.25rem;
  padding: 1.25rem 1.4375rem 1.25rem 0;
  font-size: 1.5rem;
  vertical-align: top;
  font-weight: 900;
}

.notFound__content .bar {
  display: inline-block;
  text-align: left;
  line-height: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.notFound__content .bar h3 {
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1532px) and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--black);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: var(--green);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--green);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .wrapper {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 95%;
  }
}

.mt3 {
  margin-top: 3rem;
}

.mt8 {
  margin-top: 8.5rem;
}

.b0 {
  border-top: 0 !important;
}
/*# sourceMappingURL=style.css.map */